@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
.icons{
  color:rgb(163, 5, 10);  
}
.family{
  font-family: sans-serif;
}

@layer base{
  icons {
      @apply text-3xl cursor-pointer
  }
  /* For tourist-app */
   button {
      @apply bg-red-600 p-3 rounded-md
  } 
 
}
